<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BetterFolderBrowser" version="1.2.0" targetFramework="net45" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net45" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net45" />
  <package id="FontAwesome.Sharp" version="6.1.1" targetFramework="net45" />
  <package id="Interop.SolidEdge" version="219.0.0" targetFramework="net40-client" requireReinstallation="true" />
  <package id="NLog" version="5.0.2" targetFramework="net45" />
  <package id="NLog.Config" version="4.7.15" targetFramework="net45" />
  <package id="NLog.Schema" version="4.7.15" targetFramework="net45" />
  <package id="SolidEdge.Community" version="219.0.0" targetFramework="net40-client" requireReinstallation="true" />
</packages>